<!DOCTYPE html>
<html>

<head>
  <title>The ToyBox Shop</title>
  
  <link rel='stylesheet' href='/stylesheets/style.css' />
  
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
</head>

<body>
  <header>
    
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="https://i.pinimg.com/originals/67/32/40/673240c24ec0685148cb37df5b7797eb.png" width="200" height="100" ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"style = "font-szie: 100px" >Home Page</a>
        </li>
        <div class="dropdown">
   <button class="nut_dropdown btn btn-light" >Product Management Interface</button>
   <div class="noidung_dropdown">
     <a href="/xephinh">Puzzle toys </a>
     <a href="/dieukhien">Control toys </a>
    
     
   </div>
 </div>

 <div class="dropdown">
   <button class="nut_dropdown btn btn-light" >Customer interface </button>
   <div class="noidung_dropdown">
     <a href="/xephinh/list"> Puzzle toys </a>
     <a href="/dieukhien/list">Control toys </a>
     
   </div>
 </div>
        
        
      </ul>
    </div>
  </div>
</nav>
  </header>

  
  {{{body}}}

<div class="container my-5">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #929fba"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              <p class="fw-bolder">THE TOY BOX</p>
            </h6>
            <p>
             HOTLINE CUSTOMER CARE
            </p>
            <p class="text-danger">19001208</p>
            <p> Monday to Saturday (08:00 - 17:00)
                Sunday (08:00 - 12:00)
            </p>
            <p><i class="glyphicon glyphicon-envelope"></i>Email: hotro@toybox.com.vn</p>
          </div>
          

          <hr class="w-100 clearfix d-md-none" />

          
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              <p class="fw-bolder">CUSTOMER SUPPORT</p>
            </h6>
            <p>
              <a class="text-white">Privacy Policy</a>
            </p>
            <p>
              <a class="text-white">Support policies </a>
            </p>
            <p>
              <a class="text-white">Return Policy</a>
            </p>
            <p>
              <a class="text-white">Delivery policy</a>
            </p>
          </div>
         

          <hr class="w-100 clearfix d-md-none" />

          
          <hr class="w-100 clearfix d-md-none" />

          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              <p class="fw-bolder">CONTACT INFORMATION</p>
            </h6>
            <p><i class="fas fa-home mr-3"></i>Ha Noi, Cau Giay, Viet Nam</p>
            <p><i class="fas fa-envelope mr-3"></i> ToyshopCauGiay@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 89 789 654 444</p>
            <p><i class="fas fa-print mr-3"></i> + 89 234 888 899</p>
          </div>
         

          
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              <p class="fw-bolder">FOLLOW THE TOY BOX</p>
            </h6>

            
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #1a2846"
               href="https://www.facebook.com/profile.php?id=100012949359638"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Instagram -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #ac2bac"
               href="https://www.instagram.com/dd.aquan/?fbclid=IwAR3xgVlnWgnHBZD1f6gsAmXK50FwZWCbmHmDPIGU2nx_5iH7uJIisgL-SDE"
               role="button"
               ><i class="fab fa-instagram"></i
              ></a>

            
            <!-- Github -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #333333"
               href="https://github.com/anhquan2610/Asignment-2"
               role="button"
               ><i class="fab fa-github"></i
              ></a>
          </div>
        </div>
       
      </section>
    
    </div>
    

   
    <div
         class="text-center p-3"
         style="background-color: rgba(13, 13, 13, 0.2)"
         >
      
    </div>
    
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->`

</body>

</html>